In [1]:
import numpy as np
import pandas as pd

In [2]:
X = []

In [3]:
for line in open("../../data/data_2d.csv"):
    row = line.split(',')
    sample = map(float, row)
    X.append(sample)

In [9]:
X = pd.read_csv("../../data/data_2d.csv", header=None)

In [11]:
X.describe()

                0           1           2
count  100.000000  100.000000  100.000000
mean    47.977794   56.271284  265.334490
std     29.776540   30.218386  106.375043
min      1.382983    0.127891   43.915692
25%     21.695463   32.510100  177.063748
50%     48.401451   60.979979  268.342711
75%     72.460241   82.909369  353.787315
max     98.998373   99.957634  466.265806

In [12]:
type(X)

pandas.core.frame.DataFrame

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

In [15]:
X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [16]:
M = X.as_matrix()

/home/ma/.bin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
type(M)

numpy.ndarray

In [19]:
X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [20]:
X[0]

0     17.930201
1     97.144697
2     81.775901
3     55.854342
4     49.366550
5      3.192702
6     49.200784
7     21.882804
8     79.509863
9     88.153887
10    60.743854
11    67.415582
12    48.318116
13    28.829972
14    43.853743
15    25.313694
16    10.807727
17    98.365746
18    29.146910
19    65.100302
20    24.644113
21    37.559805
22    88.164506
23    13.834621
24    64.410844
25    68.925992
26    39.488442
27    52.463178
28    48.484787
29     8.062088
        ...
70    30.187692
71    11.788418
72    18.292424
73    96.712668
74    31.012739
75    11.397261
76    17.392556
77    72.182694
78    73.980021
79    94.493058
80    84.562821
81    51.742474
82    53.748590
83    85.050835
84    46.777250
85    49.758434
86    24.119257
87    27.201576
88     7.009596
89    97.646950
90     1.382983
91    22.323530
92    45.045406
93    40.163991
94    53.182740
95    46.456779
96    77.130301
97    68.600608
98    41.693887
99     4.142669
Name: 0, Length: 100, dtype: float64