In [1]:
d = {(i,j): i+j for i in range(1,7) for j in range(1,7)}

In [2]:
from collections import defaultdict

dinv = defaultdict(list)

for i, j in d.items():
    dinv[j].append(i)

In [30]:
for i in range(1,4):
    i = i+1
    print(i)

2
3
4

In [3]:
dinv[7]

[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]

In [4]:
X = {i:len(j)/36. for i, j in dinv.items()}

In [5]:
X

{2: 0.027777777777777776,
 3: 0.05555555555555555,
 4: 0.08333333333333333,
 5: 0.1111111111111111,
 6: 0.1388888888888889,
 7: 0.16666666666666666,
 8: 0.1388888888888889,
 9: 0.1111111111111111,
 10: 0.08333333333333333,
 11: 0.05555555555555555,
 12: 0.027777777777777776}

In [6]:
from pandas import DataFrame

In [7]:
d = DataFrame(index=[(i, j) for i in range(1, 7) for j in range(1,7)],
             columns =['sm','d1','d2','pd1','pd2','p'])

In [8]:
d.d1 = [i[0] for i in d.index]

In [9]:
d.d2 = [i[1] for i in d.index]

In [10]:
d.sm = map(sum, d.index)

In [11]:
d.head(5)

                                    sm  d1  d2  pd1  pd2    p
(1, 1)  <map object at 0x7fd90df58898>   1   1  NaN  NaN  NaN
(1, 2)  <map object at 0x7fd90df58898>   1   2  NaN  NaN  NaN
(1, 3)  <map object at 0x7fd90df58898>   1   3  NaN  NaN  NaN
(1, 4)  <map object at 0x7fd90df58898>   1   4  NaN  NaN  NaN
(1, 5)  <map object at 0x7fd90df58898>   1   5  NaN  NaN  NaN